* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.heading {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
    color: #0D1111;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    background: #FFF;
}

.header.fixed {
    position: sticky;
    top: -44px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 20px;
    color: #2F3A3B;
    font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #2F3A3B;
}

.header .action {
    margin-left: 153px;
}

.header .sign-in {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
}

.header .action .btn {
    display: inline-block;
    margin-left: 24px;
    padding: 0 24px;
    line-height: 48px;
    color: #1EBFC1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #1EBFC1;
}